* {
    text-align: center;
    font-family: poppins;
    width: auto;
}

body {
    margin: 20px 0px;
}

.struct {
    display: grid;
    grid-gap: 20px;
}

.titlet {
    color: #353535;
}

.titlet img {
    height: 80px;
    width: 80%;
    margin: auto;
}

.tit {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 400px;
    justify-content: center;
    color: #00399B;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: -35px;
}

.vid iframe {
    height: 300px;
    width: 550px;
    border:0;
}

.button {
    background-color: #00399B;
    border-radius: 20px;
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    box-shadow: 0px 10px 10px #888888;
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
}

.inf {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 400px;
    font-size: 15px;
    justify-content: center;
    margin-top: 15px;
}
